body {
/*    background-color: red;*/
font-family: Arial, Verdana, Tahoma, sans-serif;
margin: 0;
} /*- test, czy dobrze załączyło się arkusz ze stylami*/

header {
    background-image: url("../images/header.jpg");
    width: 100%;
    height: 400px;
    color: white;
    padding: 50px 0px;
}

.logo {
    text-decoration: none;
    font-size: 40px;
    color: #87deb4;
}

nav{
    display: inline-block;
    text-align: right;
    width: 870px;
}

nav ul {
    padding: 0;
}

nav ul li{
    display: inline-block;/*sprawia, że nawet elementy listy ustawiają się obok siebie w bloki;
    z automatu powinny też zniknąć kropki z <ul> , ale jeżeli nie znikną, to wtedy
    list-style: none;*/
    padding: 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #55B388;
}

.middle {
    margin: 0 auto;
    width: 1000px;
}
.button {
    text-decoration: none;
    color: white;
    background-color: #55B388;
    padding: 10px 15px;
    border-radius: 1px 10px 1px 10px;
    display: block;
    margin-top: 50px;
    width: 105px;
    text-align: center;
}
.left_block, .right_block {
    display: inline-block;
    margin-top: 100px;
}

.left_block {
 width: 400px; 
 vertical-align: top;
}

.right_block {
    width: 550px;
}

.header_text {
    color: #C5D2E5;
    line-height: 23px;
}

   
.align_text_right {
    text-align: right;
    margin-left: 30px;
}

.section1_text {
    color: #505965;
    line-height: 1em;
}

h2 {
    padding: 0;
    font-size: 30px;
    margin: 0;
    line-height: 34px;
}

.green_section {
    background-color: #55B388;
    text-align: center;
    color: #fff;
    height: 500px;
    padding: 50px 0px 50px 0px;
}

.portfolio_img {
    width: 800px;
    margin-top: 50px;
}

.white_section {
    text-align: center;
    margin-top: 200px;
    color: #505965;
    font-weight: bold;
    padding-bottom: 50px;
}

.green_text {
    color: #55B388;
}

.movie {
    margin-top: 50px;
    width: 800px;
}

footer {
    background-color: #2D3035; 
    height: 200px;
    padding: 50px 0;
    color: white;
    text-align: center;
    font-size: 12px;
    /*Alt+Shift+F ustawia hierarchię tekstu*/
}

.stopka {
    display: block;
    padding-top: 50px;
}

footer a {
    text-decoration: none;
    color: #C5D2E5;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    background-color: #55B388;
    text-decoration: none;
    color: white;
}

footer .logo {
    display: block;
    margin-top: 20px;
}

.circle:after {
    content: "<";
    display: block;
    font-size: 50px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin-top: 7px;
}

.circle:hover {
    background-color: #87deb4;
}

/*http://lea.verou.me/css3patterns/*/

